AddDefaultCharset UTF-8

Options -Indexes +FollowSymlinks

SetEnv PHP_VER 5_5
SetEnv REGISTER_GLOBALS 0
SetEnv MAGIC_QUOTES 0
SetEnv SESSION_USE_TRANS_SID 0

<FilesMatch "\.(sql|sqlite)$">
    Deny from all
    Satisfy All
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /slim-skeleton/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule mod_deflate.c>
    <FilesMatch "\.(js|css|html?|php)$">
        SetOutputFilter DEFLATE
    </FilesMatch>
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"

    ExpiresByType text/css "access plus 1 week"
    ExpiresByType text/xml "access plus 1 week"
    ExpiresByType text/html "access plus 1 week"
    ExpiresByType text/javascript  "access plus 1 week"
    ExpiresByType text/plain "access plus 1 week"

    ExpiresByType text/javascript "access plus 1 week"
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresByType application/x-javascript "access plus 1 week"

    ExpiresByType font/woff "access plus 1 week"
    ExpiresByType application/font-woff "access plus 1 week"
    ExpiresByType application/x-font-woff "access plus 1 week"
</IfModule>
